.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(5, 49, 80, .5);
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.nav-link , .navbar-brand {
    color: white;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #DFBEC4;
}
.navbar-brand:hover {
    color: #DFBEC4;
}
.navbar-collapse{ 
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}
.header {
    background-image: url("../images/beach.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.overlay {
    background-color: rgba(255, 255, 255, .6);
    background-size: cover;
    background-position: fixed;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}
.description h1{
    font-size: 60px;
    color: black;
    font-weight: 250;
}
.description h6{
 color: rgb(56, 85, 102);
 font-size: 30px;
 font-weight: 100;
 width: 60%;
 line-height: 1.5;
}

.header {
  overflow: hidden;
}
