.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, .4);
}
.nav-link , .navbar-brand {
    color: white;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #EEA76F;
}
.navbar-brand:hover {
    color: #EEA76F;
}
.navbar-collapse{ 
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}
.navbar-toggler{
    background-image: url("/site/images/bar_menu.png") !important;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.header {
    background-image: url("/site/images/sunset.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.overlay {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    font-family: 'Montserrat', sans-serif;
}
.description h1{
    font-size: 50px;
    color: white;
}
.description h6{
 color:  rgba(209, 146, 97, 0.925);
 color: #ca6373ec;
 font-size: 25px;
 width: 60%;
 line-height: 1.5;
}